
.calendar-calendar {

  table.full {
    width: 100%;
    font-size: 0.923em;
    margin: 0 0 10px;
    border: 1px solid #bebfb9;

    th {
      text-transform: uppercase;
      background: #e1e2dc;
      font-weight: normal;
      border-width: 1px;
      border-style: solid;
      border-color: #bebfb9;
      padding: 3px 10px;
    }

    td {
      padding: 8px 10px;
      border: 0;
      color: #000;
    }
  }

}