
#footer-container {
  background: #272727;
  margin-top: 40px;

  .footer {
    padding: 15px 0 15px 0;

    .footer-block {
      h2 {
        border-bottom: 1px dotted #878c93;
      }
    }


  }
}